:root {
    --fg: #cdd6f4;
    --bg: #181825;
    --bg_2: #1e1e2e;
    --bg_3: #11111b;
    --bg_4: #313244;
    --bg_5: #45475a;
    --link_v: #89b4fa;
    --link_h: #94e2d5;
    --h_color: #a6e3a1;
}

* {
    color: var(--fg);
}

html {
    padding: 0px;
    margin: 10px;
    scroll-behavior: smooth;
}

p, body, code, pre, li, ul {
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    color: var(--fg);
    background: var(--bg);
    font-family: sans-serif;
    word-wrap: break-word;
    width: 85%;
    max-width: 950px;
    padding: 40px 40px 40px 40px;
    text-align: left;
    margin: 0 auto;
    max-width: 50em;
    padding: 0 2em 0 2em;
}

pre {
    font-family: monospace;
    font-size: 14px;
    overflow-x: auto;
    padding: 1em;
}

code {
    font-family: monospace;
    background: var(--bg_2);
    padding: 2px 5px;
}

pre code {
    background: var(--bg_3);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li, ul {
    position: relative;
    left: -11px;
}

blockquote {
    color: var(--fg);
    margin-left: initial;
    border-left: 8px solid var(--bg_2);
    background-color: var(--bg);
    padding: 0 1.5em;
    padding-left: 8px;
}

figcaption {
    background-color: var(--bg);
    color: var(--fg);
    font-style: italic;
    text-align: center;
}

h1, h2, h3 {font-weight: bold; margin-top: 1em;}
h1, h2, h3, h4, h5, h6 {color: var(--h_color);}
h1 {font-size: 2em; text-align: center;}
a {text-decoration: none;}
a:active, a:link, a:visited {color: var(--link_v);}
a:hover {color: var(--link_h); text-decoration: none;}
hr {margin: 0px 0px 0px 0px;}
nav a {margin-right: 10px;}
footer {font-size: 0.8rem; text-align: center;}

.date {
    color: var(--fg);
    text-align: center;
}

/* Homepage */
.hero {
    display: flex;
}

.hero div:first-child {
    padding-right: 2.5rem;
}

.hero div:last-child {
    flex-basis: 50%;
}

.hero img {
    border-radius: 50%;
    width: 100%;
}

.hero h1 {
    text-align: left;
}

@media screen and (max-width: 48rem) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero img {
        max-width: 250px;
        margin-bottom: 1rem;
    }
}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: var(--bg);}
::-webkit-scrollbar-thumb {background: var(--bg_4);}
::-webkit-scrollbar-thumb:hover {background: var(--bg_5);}
::-moz-selection {color: var(--fg); background: var(--bg_4);}
::selection {color: var(--fg); background: var(--bg_4);}
