{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{ range.Data.Pages }}
<article class="post-snippet">
<h3>
<ul>
<li>
<i><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></i>
<br>
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
</li>
</ul>
</h3>
</article>
{{ end }}

{{ partial "footer.html" . }}
