</main>

<footer>
The content of this site is <a href="https://creativecommons.org/licenses/by-nc/4.0">CC-BY-NC</a>. The <a href="https://codeberg.org/WitherCubes/website-src">code for this site</a> is <a href="https://opensource.org/licenses/MIT">MIT</a>.
</footer>

<br>

</body>
</html>
