<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Description }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}avatar-250.png">
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
<meta property="twitter:description" content="{{ .Description }}">
<meta property="twitter:image" content="{{ .Site.BaseURL }}avatar-250.png">

<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="/avatar-250.png">
<link rel="canonical" href="{{ .Permalink }}">

{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

</head>

<body>

<main class="content">
