{{ partial "header.html" . }}

<br>
<br>
<br>

<center><h1>404</h1></center>

<center><h2>Page Not Found</h2></center>

<center><p>Sorry, this page does not exist.<br />You can head back to <a href="/">homepage</a>.</p></center>

<br>
<br>
<br>

{{ partial "footer.html" . }}
